<swiper [config]="config" class="home-swiper active" data-tab="3">
  <ng-template swiperSlide>
    <div class="flex">
      <div class="swiper-item">
        <div class="fd-column">
          <div class="swiper-item-desc">
            <div class="d-flex">
              <div class="swiper-y-music-img"><img src="assets/images/kucuk_music.png" alt=""></div>
              <div class="swiper-y-music-prg">
                <div class="title">En Dibine Kadar</div>
                <div class="subtitle">
                  Dedublüman ve Mavzer Tabancas
                  En Dibine Kadar
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-item-desc">
            <div class="d-flex">
              <div class="swiper-y-music-img"><img src="assets/images/kucuk_music2.png" alt=""></div>
              <div class="swiper-y-music-prg">
                <div class="title">Dünden Bugüne</div>
                <div class="subtitle">
                  Kendimden Hallice
                  Unutulmayan Biri Hep Vardır
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-item-desc">
            <div class="d-flex">
              <div class="swiper-y-music-img"><img src="assets/images/kucuk_music3.png" alt=""></div>
              <div class="swiper-y-music-prg">
                <div class="title">Dünden Bugüne</div>
                <div class="subtitle">Teoman
                  Renkli Rüyalar Oteli
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-item-desc">
            <div class="d-flex">
              <div class="swiper-y-music-img"><img src="assets/images/kucuk_music3.png" alt=""></div>
              <div class="swiper-y-music-prg">
                <div class="title">Dünden Bugüne</div>
                <div class="subtitle">Teoman
                  Renkli Rüyalar Oteli
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-item">
        <div class="fd-column">
          <div class="swiper-item-desc">
            <div class="d-flex">
              <div class="swiper-y-music-img"><img src="assets/images/kucuk_music.png" alt=""></div>
              <div class="swiper-y-music-prg">
                <div class="title">En Dibine Kadar</div>
                <div class="subtitle">
                  Dedublüman ve Mavzer Tabancas
                  En Dibine Kadar
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-item-desc">
            <div class="d-flex">
              <div class="swiper-y-music-img"><img src="assets/images/kucuk_music2.png" alt=""></div>
              <div class="swiper-y-music-prg">
                <div class="title">Dünden Bugüne</div>
                <div class="subtitle">
                  Kendimden Hallice
                  Unutulmayan Biri Hep Vardır
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-item-desc">
            <div class="d-flex">
              <div class="swiper-y-music-img"><img src="assets/images/kucuk_music3.png" alt=""></div>
              <div class="swiper-y-music-prg">
                <div class="title">Dünden Bugüne</div>
                <div class="subtitle">Teoman
                  Renkli Rüyalar Oteli
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-item-desc">
            <div class="d-flex">
              <div class="swiper-y-music-img"><img src="assets/images/kucuk_music3.png" alt=""></div>
              <div class="swiper-y-music-prg">
                <div class="title">Dünden Bugüne</div>
                <div class="subtitle">Teoman
                  Renkli Rüyalar Oteli
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-item">
        <div class="fd-column">
          <div class="swiper-item-desc">
            <div class="d-flex">
              <div class="swiper-y-music-img"><img src="assets/images/kucuk_music.png" alt=""></div>
              <div class="swiper-y-music-prg">
                <div class="title">En Dibine Kadar</div>
                <div class="subtitle">
                  Dedublüman ve Mavzer Tabancas
                  En Dibine Kadar
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-item-desc">
            <div class="d-flex">
              <div class="swiper-y-music-img"><img src="assets/images/kucuk_music2.png" alt=""></div>
              <div class="swiper-y-music-prg">
                <div class="title">Dünden Bugüne</div>
                <div class="subtitle">
                  Kendimden Hallice
                  Unutulmayan Biri Hep Vardır
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-item-desc">
            <div class="d-flex">
              <div class="swiper-y-music-img"><img src="assets/images/kucuk_music3.png" alt=""></div>
              <div class="swiper-y-music-prg">
                <div class="title">Dünden Bugüne</div>
                <div class="subtitle">Teoman
                  Renkli Rüyalar Oteli
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-item-desc">
            <div class="d-flex">
              <div class="swiper-y-music-img"><img src="assets/images/kucuk_music3.png" alt=""></div>
              <div class="swiper-y-music-prg">
                <div class="title">Dünden Bugüne</div>
                <div class="subtitle">Teoman
                  Renkli Rüyalar Oteli
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="flex">
      <div class="swiper-item">
        <div class="fd-column">
          <div class="swiper-item-desc">
            <div class="d-flex">
              <div class="swiper-y-music-img"><img src="assets/images/kucuk_music.png" alt=""></div>
              <div class="swiper-y-music-prg">
                <div class="title">En Dibine Kadar</div>
                <div class="subtitle">
                  Dedublüman ve Mavzer Tabancas
                  En Dibine Kadar
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-item-desc">
            <div class="d-flex">
              <div class="swiper-y-music-img"><img src="assets/images/kucuk_music2.png" alt=""></div>
              <div class="swiper-y-music-prg">
                <div class="title">Dünden Bugüne</div>
                <div class="subtitle">
                  Kendimden Hallice
                  Unutulmayan Biri Hep Vardır
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-item-desc">
            <div class="d-flex">
              <div class="swiper-y-music-img"><img src="assets/images/kucuk_music3.png" alt=""></div>
              <div class="swiper-y-music-prg">
                <div class="title">Dünden Bugüne</div>
                <div class="subtitle">Teoman
                  Renkli Rüyalar Oteli
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-item-desc">
            <div class="d-flex">
              <div class="swiper-y-music-img"><img src="assets/images/kucuk_music3.png" alt=""></div>
              <div class="swiper-y-music-prg">
                <div class="title">Dünden Bugüne</div>
                <div class="subtitle">Teoman
                  Renkli Rüyalar Oteli
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-item">
        <div class="fd-column">
          <div class="swiper-item-desc">
            <div class="d-flex">
              <div class="swiper-y-music-img"><img src="assets/images/kucuk_music.png" alt=""></div>
              <div class="swiper-y-music-prg">
                <div class="title">En Dibine Kadar</div>
                <div class="subtitle">
                  Dedublüman ve Mavzer Tabancas
                  En Dibine Kadar
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-item-desc">
            <div class="d-flex">
              <div class="swiper-y-music-img"><img src="assets/images/kucuk_music2.png" alt=""></div>
              <div class="swiper-y-music-prg">
                <div class="title">Dünden Bugüne</div>
                <div class="subtitle">
                  Kendimden Hallice
                  Unutulmayan Biri Hep Vardır
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-item-desc">
            <div class="d-flex">
              <div class="swiper-y-music-img"><img src="assets/images/kucuk_music3.png" alt=""></div>
              <div class="swiper-y-music-prg">
                <div class="title">Dünden Bugüne</div>
                <div class="subtitle">Teoman
                  Renkli Rüyalar Oteli
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-item-desc">
            <div class="d-flex">
              <div class="swiper-y-music-img"><img src="assets/images/kucuk_music3.png" alt=""></div>
              <div class="swiper-y-music-prg">
                <div class="title">Dünden Bugüne</div>
                <div class="subtitle">Teoman
                  Renkli Rüyalar Oteli
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-item">
        <div class="fd-column">
          <div class="swiper-item-desc">
            <div class="d-flex">
              <div class="swiper-y-music-img"><img src="assets/images/kucuk_music.png" alt=""></div>
              <div class="swiper-y-music-prg">
                <div class="title">En Dibine Kadar</div>
                <div class="subtitle">
                  Dedublüman ve Mavzer Tabancas
                  En Dibine Kadar
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-item-desc">
            <div class="d-flex">
              <div class="swiper-y-music-img"><img src="assets/images/kucuk_music2.png" alt=""></div>
              <div class="swiper-y-music-prg">
                <div class="title">Dünden Bugüne</div>
                <div class="subtitle">
                  Kendimden Hallice
                  Unutulmayan Biri Hep Vardır
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-item-desc">
            <div class="d-flex">
              <div class="swiper-y-music-img"><img src="assets/images/kucuk_music3.png" alt=""></div>
              <div class="swiper-y-music-prg">
                <div class="title">Dünden Bugüne</div>
                <div class="subtitle">Teoman
                  Renkli Rüyalar Oteli
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-item-desc">
            <div class="d-flex">
              <div class="swiper-y-music-img"><img src="assets/images/kucuk_music3.png" alt=""></div>
              <div class="swiper-y-music-prg">
                <div class="title">Dünden Bugüne</div>
                <div class="subtitle">Teoman
                  Renkli Rüyalar Oteli
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="flex">
      <div class="swiper-item">
        <div class="fd-column">
          <div class="swiper-item-desc">
            <div class="d-flex">
              <div class="swiper-y-music-img"><img src="assets/images/kucuk_music.png" alt=""></div>
              <div class="swiper-y-music-prg">
                <div class="title">En Dibine Kadar</div>
                <div class="subtitle">
                  Dedublüman ve Mavzer Tabancas
                  En Dibine Kadar
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-item-desc">
            <div class="d-flex">
              <div class="swiper-y-music-img"><img src="assets/images/kucuk_music2.png" alt=""></div>
              <div class="swiper-y-music-prg">
                <div class="title">Dünden Bugüne</div>
                <div class="subtitle">
                  Kendimden Hallice
                  Unutulmayan Biri Hep Vardır
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-item-desc">
            <div class="d-flex">
              <div class="swiper-y-music-img"><img src="assets/images/kucuk_music3.png" alt=""></div>
              <div class="swiper-y-music-prg">
                <div class="title">Dünden Bugüne</div>
                <div class="subtitle">Teoman
                  Renkli Rüyalar Oteli
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-item-desc">
            <div class="d-flex">
              <div class="swiper-y-music-img"><img src="assets/images/kucuk_music3.png" alt=""></div>
              <div class="swiper-y-music-prg">
                <div class="title">Dünden Bugüne</div>
                <div class="subtitle">Teoman
                  Renkli Rüyalar Oteli
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-item">
        <div class="fd-column">
          <div class="swiper-item-desc">
            <div class="d-flex">
              <div class="swiper-y-music-img"><img src="assets/images/kucuk_music.png" alt=""></div>
              <div class="swiper-y-music-prg">
                <div class="title">En Dibine Kadar</div>
                <div class="subtitle">
                  Dedublüman ve Mavzer Tabancas
                  En Dibine Kadar
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-item-desc">
            <div class="d-flex">
              <div class="swiper-y-music-img"><img src="assets/images/kucuk_music2.png" alt=""></div>
              <div class="swiper-y-music-prg">
                <div class="title">Dünden Bugüne</div>
                <div class="subtitle">
                  Kendimden Hallice
                  Unutulmayan Biri Hep Vardır
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-item-desc">
            <div class="d-flex">
              <div class="swiper-y-music-img"><img src="assets/images/kucuk_music3.png" alt=""></div>
              <div class="swiper-y-music-prg">
                <div class="title">Dünden Bugüne</div>
                <div class="subtitle">Teoman
                  Renkli Rüyalar Oteli
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-item-desc">
            <div class="d-flex">
              <div class="swiper-y-music-img"><img src="assets/images/kucuk_music3.png" alt=""></div>
              <div class="swiper-y-music-prg">
                <div class="title">Dünden Bugüne</div>
                <div class="subtitle">Teoman
                  Renkli Rüyalar Oteli
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-item">
        <div class="fd-column">
          <div class="swiper-item-desc">
            <div class="d-flex">
              <div class="swiper-y-music-img"><img src="assets/images/kucuk_music.png" alt=""></div>
              <div class="swiper-y-music-prg">
                <div class="title">En Dibine Kadar</div>
                <div class="subtitle">
                  Dedublüman ve Mavzer Tabancas
                  En Dibine Kadar
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-item-desc">
            <div class="d-flex">
              <div class="swiper-y-music-img"><img src="assets/images/kucuk_music2.png" alt=""></div>
              <div class="swiper-y-music-prg">
                <div class="title">Dünden Bugüne</div>
                <div class="subtitle">
                  Kendimden Hallice
                  Unutulmayan Biri Hep Vardır
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-item-desc">
            <div class="d-flex">
              <div class="swiper-y-music-img"><img src="assets/images/kucuk_music3.png" alt=""></div>
              <div class="swiper-y-music-prg">
                <div class="title">Dünden Bugüne</div>
                <div class="subtitle">Teoman
                  Renkli Rüyalar Oteli
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-item-desc">
            <div class="d-flex">
              <div class="swiper-y-music-img"><img src="assets/images/kucuk_music3.png" alt=""></div>
              <div class="swiper-y-music-prg">
                <div class="title">Dünden Bugüne</div>
                <div class="subtitle">Teoman
                  Renkli Rüyalar Oteli
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="flex">
      <div class="swiper-item">
        <div class="fd-column">
          <div class="swiper-item-desc">
            <div class="d-flex">
              <div class="swiper-y-music-img"><img src="assets/images/kucuk_music.png" alt=""></div>
              <div class="swiper-y-music-prg">
                <div class="title">En Dibine Kadar</div>
                <div class="subtitle">
                  Dedublüman ve Mavzer Tabancas
                  En Dibine Kadar
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-item-desc">
            <div class="d-flex">
              <div class="swiper-y-music-img"><img src="assets/images/kucuk_music2.png" alt=""></div>
              <div class="swiper-y-music-prg">
                <div class="title">Dünden Bugüne</div>
                <div class="subtitle">
                  Kendimden Hallice
                  Unutulmayan Biri Hep Vardır
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-item-desc">
            <div class="d-flex">
              <div class="swiper-y-music-img"><img src="assets/images/kucuk_music3.png" alt=""></div>
              <div class="swiper-y-music-prg">
                <div class="title">Dünden Bugüne</div>
                <div class="subtitle">Teoman
                  Renkli Rüyalar Oteli
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-item-desc">
            <div class="d-flex">
              <div class="swiper-y-music-img"><img src="assets/images/kucuk_music3.png" alt=""></div>
              <div class="swiper-y-music-prg">
                <div class="title">Dünden Bugüne</div>
                <div class="subtitle">Teoman
                  Renkli Rüyalar Oteli
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-item">
        <div class="fd-column">
          <div class="swiper-item-desc">
            <div class="d-flex">
              <div class="swiper-y-music-img"><img src="assets/images/kucuk_music.png" alt=""></div>
              <div class="swiper-y-music-prg">
                <div class="title">En Dibine Kadar</div>
                <div class="subtitle">
                  Dedublüman ve Mavzer Tabancas
                  En Dibine Kadar
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-item-desc">
            <div class="d-flex">
              <div class="swiper-y-music-img"><img src="assets/images/kucuk_music2.png" alt=""></div>
              <div class="swiper-y-music-prg">
                <div class="title">Dünden Bugüne</div>
                <div class="subtitle">
                  Kendimden Hallice
                  Unutulmayan Biri Hep Vardır
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-item-desc">
            <div class="d-flex">
              <div class="swiper-y-music-img"><img src="assets/images/kucuk_music3.png" alt=""></div>
              <div class="swiper-y-music-prg">
                <div class="title">Dünden Bugüne</div>
                <div class="subtitle">Teoman
                  Renkli Rüyalar Oteli
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-item-desc">
            <div class="d-flex">
              <div class="swiper-y-music-img"><img src="assets/images/kucuk_music3.png" alt=""></div>
              <div class="swiper-y-music-prg">
                <div class="title">Dünden Bugüne</div>
                <div class="subtitle">Teoman
                  Renkli Rüyalar Oteli
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-item">
        <div class="fd-column">
          <div class="swiper-item-desc">
            <div class="d-flex">
              <div class="swiper-y-music-img"><img src="assets/images/kucuk_music.png" alt=""></div>
              <div class="swiper-y-music-prg">
                <div class="title">En Dibine Kadar</div>
                <div class="subtitle">
                  Dedublüman ve Mavzer Tabancas
                  En Dibine Kadar
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-item-desc">
            <div class="d-flex">
              <div class="swiper-y-music-img"><img src="assets/images/kucuk_music2.png" alt=""></div>
              <div class="swiper-y-music-prg">
                <div class="title">Dünden Bugüne</div>
                <div class="subtitle">
                  Kendimden Hallice
                  Unutulmayan Biri Hep Vardır
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</swiper>

