<swiper [config]="config" class="home-swiper active" data-tab="1">
  <ng-template swiperSlide>
    <div class="swiper-item">
      <div class="d-flex">
        <div class="swiper-item-desc">
          <div class="swiper-y-music-img"><img src="assets/images/music.png" alt=""></div>
          <div class="swiper-y-music-prg">
            <div class="title">Dünden Bugüne</div>
            <div class="subtitle">Albüm • Yücel Arzen</div>
          </div>
        </div>
        <div class="swiper-item-desc">
          <div class="swiper-y-music-img"><img src="assets/images/music-2.png" alt=""></div>
          <div class="swiper-y-music-prg">
            <div class="title">Dünden Bugüne</div>
            <div class="subtitle">Albüm • Yücel Arzen</div>
          </div>
        </div>

        <div class="swiper-item-desc">
          <div class="swiper-y-music-img"><img src="assets/images/music-3.png" alt=""></div>
          <div class="swiper-y-music-prg">
            <div class="title">Dünden Bugüne</div>
            <div class="subtitle">Albüm • Yücel Arzen</div>
          </div>
        </div>

        <div class="swiper-item-desc">
          <div class="swiper-y-music-img"><img src="assets/images/music-4.png" alt=""></div>
          <div class="swiper-y-music-prg">
            <div class="title">Dünden Bugüne</div>
            <div class="subtitle">Albüm • Yücel Arzen</div>
          </div>
        </div>

        <div class="swiper-item-desc">
          <div class="swiper-y-music-img"><img src="assets/images/music-5.png" alt=""></div>
          <div class="swiper-y-music-prg">
            <div class="title">Dünden Bugüne</div>
            <div class="subtitle">Albüm • Yücel Arzen</div>
          </div>
        </div>

        <div class="swiper-item-desc">
          <div class="swiper-y-music-img"><img src="assets/images/music-6.png" alt=""></div>
          <div class="swiper-y-music-prg">
            <div class="title">Dünden Bugüne</div>
            <div class="subtitle">Albüm • Yücel Arzen</div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="swiper-item">
      <div class="d-flex">
        <div class="swiper-item-desc">
          <div class="swiper-y-music-img"><img src="assets/images/music.png" alt=""></div>
          <div class="swiper-y-music-prg">
            <div class="title">Dünden Bugüne</div>
            <div class="subtitle">Albüm • Yücel Arzen</div>
          </div>
        </div>
        <div class="swiper-item-desc">
          <div class="swiper-y-music-img"><img src="assets/images/music-5.png" alt=""></div>
          <div class="swiper-y-music-prg">
            <div class="title">Dünden Bugüne</div>
            <div class="subtitle">Albüm • Yücel Arzen</div>
          </div>
        </div>

        <div class="swiper-item-desc">
          <div class="swiper-y-music-img"><img src="assets/images/music-3.png" alt=""></div>
          <div class="swiper-y-music-prg">
            <div class="title">Dünden Bugüne</div>
            <div class="subtitle">Albüm • Yücel Arzen</div>
          </div>
        </div>

        <div class="swiper-item-desc">
          <div class="swiper-y-music-img"><img src="assets/images/music-6.png" alt=""></div>
          <div class="swiper-y-music-prg">
            <div class="title">Dünden Bugüne</div>
            <div class="subtitle">Albüm • Yücel Arzen</div>
          </div>
        </div>

        <div class="swiper-item-desc">
          <div class="swiper-y-music-img"><img src="assets/images/music-4.png" alt=""></div>
          <div class="swiper-y-music-prg">
            <div class="title">Dünden Bugüne</div>
            <div class="subtitle">Albüm • Yücel Arzen</div>
          </div>
        </div>

        <div class="swiper-item-desc">
          <div class="swiper-y-music-img"><img src="assets/images/music-2.png" alt=""></div>
          <div class="swiper-y-music-prg">
            <div class="title">Dünden Bugüne</div>
            <div class="subtitle">Albüm • Yücel Arzen</div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="swiper-item">
      <div class="d-flex">
        <div class="swiper-item-desc">
          <div class="swiper-y-music-img"><img src="assets/images/music.png" alt=""></div>
          <div class="swiper-y-music-prg">
            <div class="title">Dünden Bugüne</div>
            <div class="subtitle">Albüm • Yücel Arzen</div>
          </div>
        </div>
        <div class="swiper-item-desc">
          <div class="swiper-y-music-img"><img src="assets/images/music-5.png" alt=""></div>
          <div class="swiper-y-music-prg">
            <div class="title">Dünden Bugüne</div>
            <div class="subtitle">Albüm • Yücel Arzen</div>
          </div>
        </div>

        <div class="swiper-item-desc">
          <div class="swiper-y-music-img"><img src="assets/images/music-4.png" alt=""></div>
          <div class="swiper-y-music-prg">
            <div class="title">Dünden Bugüne</div>
            <div class="subtitle">Albüm • Yücel Arzen</div>
          </div>
        </div>

        <div class="swiper-item-desc">
          <div class="swiper-y-music-img"><img src="assets/images/music-3.png" alt=""></div>
          <div class="swiper-y-music-prg">
            <div class="title">Dünden Bugüne</div>
            <div class="subtitle">Albüm • Yücel Arzen</div>
          </div>
        </div>

        <div class="swiper-item-desc">
          <div class="swiper-y-music-img"><img src="assets/images/music-2.png" alt=""></div>
          <div class="swiper-y-music-prg">
            <div class="title">Dünden Bugüne</div>
            <div class="subtitle">Albüm • Yücel Arzen</div>
          </div>
        </div>

        <div class="swiper-item-desc">
          <div class="swiper-y-music-img"><img src="assets/images/music-6.png" alt=""></div>
          <div class="swiper-y-music-prg">
            <div class="title">Dünden Bugüne</div>
            <div class="subtitle">Albüm • Yücel Arzen</div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="swiper-item">
      <div class="d-flex">
        <div class="swiper-item-desc">
          <div class="swiper-y-music-img"><img src="assets/images/music.png" alt=""></div>
          <div class="swiper-y-music-prg">
            <div class="title">Dünden Bugüne</div>
            <div class="subtitle">Albüm • Yücel Arzen</div>
          </div>
        </div>
        <div class="swiper-item-desc">
          <div class="swiper-y-music-img"><img src="assets/images/music-6.png" alt=""></div>
          <div class="swiper-y-music-prg">
            <div class="title">Dünden Bugüne</div>
            <div class="subtitle">Albüm • Yücel Arzen</div>
          </div>
        </div>

        <div class="swiper-item-desc">
          <div class="swiper-y-music-img"><img src="assets/images/music-2.png" alt=""></div>
          <div class="swiper-y-music-prg">
            <div class="title">Dünden Bugüne</div>
            <div class="subtitle">Albüm • Yücel Arzen</div>
          </div>
        </div>

        <div class="swiper-item-desc">
          <div class="swiper-y-music-img"><img src="assets/images/music-3.png" alt=""></div>
          <div class="swiper-y-music-prg">
            <div class="title">Dünden Bugüne</div>
            <div class="subtitle">Albüm • Yücel Arzen</div>
          </div>
        </div>

        <div class="swiper-item-desc">
          <div class="swiper-y-music-img"><img src="assets/images/music-4.png" alt=""></div>
          <div class="swiper-y-music-prg">
            <div class="title">Dünden Bugüne</div>
            <div class="subtitle">Albüm • Yücel Arzen</div>
          </div>
        </div>

        <div class="swiper-item-desc">
          <div class="swiper-y-music-img"><img src="assets/images/music-5.png" alt=""></div>
          <div class="swiper-y-music-prg">
            <div class="title">Dünden Bugüne</div>
            <div class="subtitle">Albüm • Yücel Arzen</div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</swiper>
